
*.pdb
*.idb
Debug/LucyBot.tlog/unsuccessfulbuild
SleepyDiscord/*
SleepyDiscord_stable/*
*.lastbuildstate
*.tlog
*.log
Ref.h
*.iobj
*.ipdb
*.obj
*.pch
*.exe
*.ipch
*.db
*.opendb
.vs/LucyBot/v15/.suo
*.lastcodeanalysissucceeded
Release/LucyBot.pch.codeanalysisast
Release/stdafx.nativecodeanalysis.xml
Release/vc.nativecodeanalysis.all.xml
